/* Write your code here. */
.list-item-style {
  border: 1px solid #52606d;
  border-radius: 15px;
  padding: 25px;
  list-style-type: none;
  margin: 10px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}
.question-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-style {
  background-color: transparent;
  border: none;
}
.question {
  font-family: Roboto;
  font-size: large;
  color: #52606d;
}
.answer {
  font-family: Roboto;
  color: #9aa5b1;
}
